<div id="footer_wrap" class="outer">
    <footer class="inner">
        <p class="copyright">
        <ul>
            <li><a href="/pages/credit.html">Credits</a></li>
            <li><a href="/pages/legal.html">Legal</a></li>
            <li>Site maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> and
                published
                with <a href="https://pages.github.com">GitHub Pages</a>.
            </li>
            <li>© Civis Mundi, Douglas Fisher, and Dmitrii Belousov 2021.</li>
        </ul>
        </p>
    </footer>
</div>