
// Aliases
$shadow_color: #00000033;
// Primary palette aliases.
$colorPrimaryBackground1: #294845;
$colorPrimaryBoxBackground1: #173337;
// Secondary palette aliases.
$colorSecondaryBackground1: #1C293F;
$colorSecondaryFooterBackground1: #141d2c;

// Color triad chosen with https://paletton.com/.
// Primary palette.
$colorPrimary1: #3D6763;
$colorPrimary2: #84A5A1;
$colorPrimary2a: #D1E1DF;
$colorPrimary2b: #EBF3F2;
$colorPrimary2b1: #F1F6F5;
$colorPrimary2c: #FEFEFE;
$colorPrimary3: #58807C;
$colorPrimary4: #294845;
$colorPrimary5: #173A37;
$colorPrimary6: #173337;
$colorPrimary6a: #06130E;
$colorPrimary6b: #020D09;
// Secondary palette.
$colorSecondary11: #46546F;
$colorSecondary12: #909BAF;
$colorSecondary12s: #7e95c0;
$colorSecondary12sa: #b2bfd9;
$colorSecondary12a: #D6DBE5;
$colorSecondary12b: #EDF0F4;
$colorSecondary13: #627089;
$colorSecondary14: #2F3A4D;
$colorSecondary15: #1C293F;
$colorSecondary15a: #162237;
// Tertiary palette.
$colorSecondary21: #598A51;
$colorSecondary22: #B1D6AB;
$colorSecondary23: #7CAB75;
$colorSecondary24: #3C6036;
$colorSecondary25: #254E1F;