/*
 * Container elements for small devices.
 */
@media screen and (max-width: 1600px) {
  .background_wrapper::after {
    transform: skew(30deg, 0) translateX(-85%);
    width: 51rem;
  }

  .inner {
    max-width: 80%;
  }
}
