@import './color';

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.background_wrapper {
  background: linear-gradient(#294845, #1C293F);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.background_wrapper::after {
  position: absolute;
  content: '';
  left: 50%;
  height: 100vh;
  width: 61rem;
  background-color: #00000013;
  transform: skew(30deg, 0) translateX(-85%);
  z-index: -1;
}

.outer {
  position: relative;
  z-index: 1;
  width: 100%;
}

.inner {
  position: relative;
  max-width: 50%;
  padding: 1.5rem 0.6rem;
  margin: 0 auto;
}

#forkme_banner {
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#header_wrap {
  //background: #173A37;
  //background: -moz-linear-gradient(top, #58807C, #173A37);
  //background: -webkit-linear-gradient(top, #58807C, #173A37);
  //background: -ms-linear-gradient(top, #58807C, #173A37);
  //background: -o-linear-gradient(top, #58807C, #173A37);
  //background: linear-gradient(to top, #58807C, #173A37);
}

#header_wrap .inner {
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 1rem 0.6rem 1rem 0.6rem;
  float: left;
}

#project_title {
  margin: 0;
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: 800;
  text-shadow: #1C293F 0px 0px 10px;
}

#project_tagline {
  color: #B1D6AB;
  font-size: 1.25rem;
  font-weight: 300;
  background: none;
  text-shadow: #1C293F 0 0 0.6rem;
  max-width: 35rem;
  line-height: 1.4;
}

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height: 70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height: 70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#main_content_wrap {
  padding-bottom: 12rem; /* Footer height */
}

#main_content {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}

.content-item-label {
  position: relative;
  top: 1.5rem;
  right: 2rem;
  z-index: 2;
}

.content-item-label h2 {
  padding-bottom: 0;
  font-size: 2rem;
}

.content-item-container {
  position: relative;
  background-color: $colorPrimary6;
  border-radius: 0.25rem;
  box-shadow: 0 2px 30px $shadow_color;
  display: block;
  padding: 1.75rem;
  margin-bottom: 4rem;
  max-width: 70%;
  position: relative;
  z-index: 1;
  font-size: 1.55rem;
}

.content-item-container-lesser {
  position: relative;
  background-color: $colorPrimary6;
  border-radius: 0.25rem;
  box-shadow: 0 2px 30px $shadow_color;
  display: block;
  padding: 1.55rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  max-width: 70%;
  position: relative;
  z-index: 1;
}

.demo-button {
  position: relative;
  color: #254E1F;
  background-color: $colorSecondary22;
  border-radius: 2rem;
  box-shadow: 0 2px 30px $shadow_color;
  display: block;
  padding: 1.75rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  min-width: 30%;
  max-width: 40%;
  position: relative;
  z-index: 1;
  text-align: center;
}

.demo-button h1 {
  color: $colorSecondary15a;
  font-size: 35px;
  font-weight: 900;
}

.demo-button p {
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 700;
}

.content-story-section {
  font-size: 1.20rem;
}

.content-illustration {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.75rem;
}

.img-portrait {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}


#footer_wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12rem; /* Footer height */
  z-index: 2;
  background: #141d2c;
}