@import './color';

img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

p img {
  display: inline;
  margin: 0;
  padding: 20px 0px 20px 0px;
  vertical-align: middle;
  text-align: center;
  border: none;
  box-shadow: none;
}

img.logo {
  //display: inline;
  position: relative;
  float: right;
  margin: 0;
  padding: 20px 0px 20px 0px;
  border: none;
  box-shadow: none;
  opacity: 0.5;
  //-webkit-transform: scale(0.25); /* Saf3.1+, Chrome */
  //-moz-transform: scale(0.25); /* FF3.5+ */
  //-ms-transform: scale(0.25); /* IE9 */
  //-o-transform: scale(0.25); /* Opera 10.5+ */
  //transform: scale(0.25);
}

.img-portrait {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.content-illustration {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.75rem;
}