$body_background_color: #173337;
$body_background_color-darker: #06130E;
$body_background_color-darkest: #020D09;
$body_background_color-accent-darkest: #162237;
$highlight_color: #B1D6AB;
$shadow_color: #00000033;
$font_color: #d1e1df;