<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description"
          content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

    <link rel="stylesheet" type="text/css" media="screen"
          href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Teko:wght@500&family=IBM+Plex+Sans+Arabic&family=Montserrat:wght@600&family=Oswald:wght@500&display=swap" rel="stylesheet">

    <title>{{ site.title | default: site.github.repository_name }}</title>
</head>

<body>
<div id="page-container">
    <div id="background_wrapper" class="background_wrapper"></div>

    {% include navigation.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
        <section id="main_content" class="inner">
            {{ content }}
        </section>
    </div>

    {% include footer.html %}

    {% include google-analytics.html %}
</div>
</body>
</html>
